@import './parts/index';

.movies-list-container {
    max-width: 1600px;
    margin: 0 auto;
    .movies-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        flex-grow: 1;
        flex-shrink: 1;
    }
}
  