.movies-list {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: center;
    /* justify-content: space-between;
    justify-items: center; */
}
  