@import './parts/index.scss';
@mixin set-flex-basis($max-width, $flex-basis) {
  @media(max-width: $max-width) {
    .movie-card  {
      flex-basis: $flex-basis;
    }
  }
}

.movie-card {
  height: 225px;
  flex-basis: 25%;
  width: 400px;
  position: relative;
  padding: 10px;
}

@include set-flex-basis(1333px, 33.33%);
@include set-flex-basis(1073px, 50%);
@include set-flex-basis(815px, 100%);
