@import './moviesList/movies-list';


.movie-modal {
    .apply-button {
        background-color: #00838F;
        color: $white;
    }
    .close-button {
        background-color: $white;
        color: $black;
    }
}