.movie-card {   
    .movie-card-edit-button {
    // .movie-card-edit-button.btn-outline-primary:not(:disabled):not(.disabled) {
        background: transparent;
                    // , .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle
        color: rgba($white, 0.7);
        padding: 0;
        width: 32px;
        height: 32px;
        border: 1.5px solid rgba($white, 0.7);
        border-radius: 50%;
        // text-align: center;
        display: flex;
        justify-content: center;
        transition: transform 0.3s, 
            color 0.3s,
            border-color  0.3s;
        &:active {
            color: rgba($white, 0.7);
            border-color: rgba($white, 0.7);
            background: transparent;
        }
        &.focus, &:focus {
            box-shadow: none;
            // box-shadow: 0 0 0 0.2rem rgba($white,.5);
        }
        &:hover {
            transform: scale(1.2);
            color: $white;
            border-color: $white;
            background: transparent;
        }
    }
}